# the lines below need to be adapted to your run setup
query.xml $TAC_ROOT/evaluation/eval2013/queries.xml
index $TAC_ROOT/tac_index/index
idfile_mapping $TAC_ROOT/tac_index/idfile_mapping
rundir $TAC_ROOT/clueweb_run

# export the variable or point directly to the model locations
model $TAC_MODELS/svm/ngram_directed_skip_exact.tuned/
featuremap $TAC_MODELS/svm/ngram_directed_skip_exact.fmap
wikilinks $TAC_MODELS/expansion/enwiki.linktext.counts
induced_patterns $TAC_MODELS/patterns/induced_patterns2013.txt
shortened_patterns $TAC_MODELS/patterns/uschema_patterns

# the lines below can stay untouched for default settings
makefile $TAC_ROOT/bin/makefile
#goal response_shortened_patterns_plus_pp13
goal response_clueweb_pp13
relations.config $TAC_ROOT/config/relations2013.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist2013
numcores 2
precision_expansion true
coref false
